.sidebarChannel:hover > h4 {
  color: white;
  background-color: #40464b;
  cursor: pointer;
}

.sidebarChannel > h4 {
  display: flex;
  padding-left: 15px;
  align-items: center;
  background-color: #2f3135;
  color: grey;
}
.sidebarChannel_hash {
  size: 25px;
  padding: 7px;
}
